.contenedor{
  border: 1px solid black;
  width: 700px;
  height: 500px;
  overflow: hidden;

}

img{
   width: 190px;
   height: 185px;

}

h3{
	text-align: center
}
.Titulo_Principal{
  background-color: #ffc107;
  border: 1px solid black;
  width: 700px;
  text-align: center;

}
.subtitulo-1{
  width: 180px;
  top: 90px;
  text-align: justify;
  padding: 10px;
  position: absolute;
 }

.subtitulo-2{
  border: 1px solid black;
  position:absolute;
  width: 254px;
  height: 399px;
  float: left;
  top: 90px;
  padding: 10px;
  left: 210px;
  text-align: justify;

}
.subtitulo-3{
  position:absolute;
  text-align: justify;
  width: 190px;
  
  float: left;
  top:85px;
  left: 485px;
  padding: 15px;

}
.informacion{
  background-color: #ffc107;
  border: 1px solid black;
  width: 700px;
  float: inherit;
  text-align: center;
}